body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    height: 5vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; 
    border-bottom: red solid 1.5px; 
    z-index: 2;
}


.logo a{
    color: white;
    text-shadow: 2px 2px firebrick;
    text-decoration: underline; 
    text-underline-position: below;
}

.logo:hover{
    opacity: 0.5;
}

.menu {
    cursor: pointer;
}

.menu:hover {
    opacity: 0.5;
}

.nav-open {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: radial-gradient(rgb(25, 0, 0), rgba(0, 0, 0 ,1));
    z-index: 1;
    border-bottom: solid 1px red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: all 1.5s ease;
    transform: translateY(-100%);
    color: white;;
}

.opened{
    transform: translateY(0%);
}

.darker {
    background: blue;
}

.contact {
    grid-column: 1/2;
}

.Killing_Time a{
    grid-column: 2/3;
    text-decoration: none;
    color: white;
}

.social {
    grid-column: 3/4;
}

.nav-open h3 {
    font-size: 28px;
    padding-bottom: 25px;
    font-family: sourceProRegular;
}

.nav-open p{
    font-size: 18px;
    font-family: sourceProMed
}

.social-links img{
    padding: 0px 15px;
    fill: red;
    opacity: 0.80;
}

.killing_Time {
    height: 40vh;
}

.Killing_time_logo{
    width: 150px;
    height: 150px
}

.logo, .menu {
    z-index: 2;
}

/* main page */

.portofolio{
    height: 100vh;
    width: 100%;
    background: radial-gradient(rgb(30, 0, 0), rgba(0, 0, 0 ,1));
    overflow-y: scroll;
}

.main{
    height: auto;
}

.latest{
    height: 500px;
    width: 99.8%;
    color: white;
}

.latest::-webkit-scrollbar{
    display: none;
}

.new{
    background: yellow;
}

.latest h1 {
    margin-left: 5%;
}

.listLatest{
    height: 425px;
    width: 90%;
    margin: 0% 5% 0% 5%;
    display: flex;
    overflow: scroll;
    color: white;
}
.prevBtn{
    float: left;
    height: 400px;
    width: 4%;
    margin-top: 5px;
}

.nextBtn{
    height: 4vw;
    width: 4vw;
    background-color: red;
    background-image: url(../content/images/arrow\ right.png);
    background-size: 100% 100%;
    border: black solid 0px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
    margin-top: 175px;
    right: 0.5%;
    visibility: hidden;
}

.prevBtn{
    height: 4vw;
    width: 4vw;
    background-color: red;
    background-image: url(../content/images/arrow\ left.png);
    background-size: 100% 100%;
    border: black solid 0px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
    margin-top: 175px;
    visibility: hidden;
    left: 0.5%;
}

.show{
    width: 250px;
    min-width: 250px;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    color: white;
    margin: 5px;
    border: red 1px solid;
    text-align: center;
}

.latest:hover .button{
    visibility: visible;
}

.poster{
    width: 200px;
    height: 300px;
    overflow: hidden;
}

#fifth{
    width: 250px;
    height: 500px;
    color: white;
}

